{% extends "base.html" %}
{% load static %}

{% block content %}
    <h1>{{ project.title }}</h1>
    <div class="row">
        <div class="col-md-8">
            <img src="{{ project.image.url }}" alt="" width="100%">
        </div>
        <div class="col-md-4">
            <h5>About the project:</h5>
            <p>{{ project.description }}</p>
            <br>
            <h5>Technology used:</h5>
            <p>{{ project.technology }}</p>
            <br>
            <h6>{{ project.created_at|date:"Y-M" }}</h6>
        </div>
    </div><hr>

    {% if request.user.is_authenticated %}
        <form action="", method="post">
            {% csrf_token %}    
            {{ form.as_p }}
            <input type="submit", value="send">
        </form>
    {% else %}
        <p class="alert alert-danger">Only registered users can leave comment, plz login!</p>
    {% endif %}

    {% for comment in comments %}
        <div class="card">
            <p class="card-header">
                {{ comment.user }} | {{ comment.created_at|timesince }}
            </p>
            <p class="card-body">
                {{ comment.body }}
            </p>
        </div>
    {% empty %}
        <p>No comments yet!</p>
    {% endfor %}
{% endblock %}